<!DOCTYPE html>
<html>
  <head>
    <title>BookApp</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/icons.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <link rel="stylesheet" href="/styles/layout.css">
  </head>
  <body>
    <main>
      <section id="formsection">
        <form method="post" action="/searches">
            <input type="text" name ="search" placeholder="Title or Author"/>
            <!-- buttons -->
            <label for="titleauth"> Search By Title</label>
            <input type="radio" name="titleauth" value="title"/>
            <label for="titleauth"> Search By Author</label>
            <input type="radio" name="titleauth" value="author"/>
            <button>Search</button>
        </form>
      </section>
    </main>
  </body>
  <footer>
  </footer>
</html>