<!DOCTYPE html>
<html>
  <head>
    <title>BookApp</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/icons.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <link rel="stylesheet" href="/styles/layout.css">
  </head>
  <body>
    <header>
      <div class="header">
        <%- include('../../layout/header') %>
      </div>
      <nav role="navigation">
      <%- include('../../layout/nav') %>
      </nav>  
    </header>
    <main>
      <section id="formsection">
        <form method="post" action="/searches">
          <fieldset>
            <legend>Search for a new book:
            <input type="text" name ="search" placeholder="Title or Author"/>
            <!-- buttons -->
            <br>
            <label for="titleauth">By Title</label>
            <input type="radio" name="titleauth" value="title"/>
            <br>
            <label for="titleauth">By Author</label>
            <input type="radio" name="titleauth" value="author"/>
            <br><br>
            <button>Search</button>
          </legend>
          </fieldset>
        </form>
      </section>
    </main>
  </body>
  <footer>
  </footer>
</html>