<!DOCTYPE html>
<html>
  <head>
    <title>BookApp</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/icons.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <link rel="stylesheet" href="/styles/layout.css">
  </head>
  <body>
    <h1>
      Book List
    </h1>

    <ul>
      <% books.map( book => { %>
      <li>
       <%= book.title %>
      </li>
      <% for(let i=0; i < book.authors.length; i++){ %>
        <li>
          <%= book.authors[i] %>   
        </li>
     <% }%>
      <% }) %>
    </ul>
</body>
<footer>
</footer>
</html>