<!DOCTYPE html>
<html>
  <head>
    <title>BookApp</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/icons.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <link rel="stylesheet" href="/styles/layout.css">
  </head>
  <body>
    <div id="booklist">
      <h1>
        Book List
      </h1>
    <ul>
      <% books.map( book => { %>
      <li id="booktitle">
       <%= book.title %>
      </li>
      <% for(let i=0; i < book.authors.length; i++){ %>
        <li id="authorname">
          <%= book.authors[i] %>
        </li>
     <% }%>
      <% }) %>
    </ul>
    </div>
</body>
<footer>
</footer>
</html>