<!DOCTYPE html>
<html>
  <head>
    <title>BookApp</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/icons.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <link rel="stylesheet" href="/styles/layout.css">
  </head>
  <body>
    <main>
      <div id="index-div">
        <h1>Book App!</h1>
      </div>
    </main>
  </body>
  <footer>
  </footer>
</html>