<!DOCTYPE html>
<html>
  <head>
    <title>BookApp</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/icons.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <link rel="stylesheet" href="/styles/layout.css">
  </head>
  <body>
    <header>
      <h1></h1>
    </header>
    <main>
      <section id="formsection">
        <form method="get" action="/search">
          <fieldset>
            <input type="text" name ="title" placeholder="Title">
            <input type="text" name="author" placeholder="Author">
            <button>Search</button>
          </fieldset>
        </form>
      </section>
    </main>
  </body>
  <footer>
  </footer>
</html>