@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

/* ------------------------------------------- */

/* Form Styling */

#formsection {
  width: 75%;
  height: auto;
  margin: auto;
  margin-top: 100px;
  padding: 1%;
  background: #232323;
}

form {
  display: flex;
  justify-content: center;
}

legend {
  padding: 2em;
  width: 90%;
  margin: auto;
  border: 1px solid #6d6c6c;
}

input {
  margin: 1%;
}

.detailbutton {
  text-decoration: none;
  color: #eee;
  background-color: rgba(46, 107, 238, 0.5);
  font-family: 'Montserrat', sans-serif;
  margin: 1em;
}
/* ------------------------------------------- */

/* Homepage Styling */

.header {
  width: 100%;
  height: auto;
  margin: auto;
  font-family: 'Merriweather', serif;
  text-align: center;
  padding: 1%;
  background: #232323;
  color: #eee;
}

a {
  text-decoration: none;
  color: #eee;
  background-color: rgba(46, 107, 238, 0.5);
  /* border: 0.2em solid black; */
}
/* ------------------------------------------- */

/* Results Styling */

#booklist {
  width: 50%;
  margin: auto;
  text-align: center;
}

#eachbook {
  background-color: #eee;
  margin: 1.5em;
}

#bookimg {
padding: 0.5em;
}

#booktitle {
  color:#111;
  padding-bottom: 0.25em;
  font-size: 1.5em;
  font-weight: bold;
  overflow: wrap;
}

#authorname {
  color: rgba(7, 38, 104, 0.5);
  font-weight: bold;
  padding-bottom: 0.5em;
  overflow: wrap;
}

#bookisbn {
  color: rgba(7, 38, 105, 0.5);
}

#bookdes {
  padding: 1em;
}