@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
/* Form Styling */

#formsection {
  width: 75%;
  height: auto;
  margin: auto;
  border: 1px solid black;
  padding: 1%;
  background-color: rgba(104, 146, 238, 0.5);
}

form {
  display: flex;
  justify-content: center;
}

input {
  margin: 1%;
}

button {
  background-color: rgba(46, 107, 238, 0.5);
  border: 0.2em solid black;

}

/* Homepage Styling */

.header {
  width: 75%;
  height: auto;
  margin: auto;
  font-family: 'Merriweather', serif;
  text-align: center;
  padding: 1%;
  background-color: rgba(104, 146, 238, 0.5);
}

a {
  text-decoration: none;
  background-color: #eee;
}

/* Results Styling */


#booklist {
  width: 50%;
  margin: auto;
  text-align: center;
}

#eachbook {
  border: 1px solid green;
  background-color: #eee;
  margin: 1.5em;
}

#bookimg {
padding: 0.5em;
}

#booktitle {
  color:#111;
  padding-bottom: 0.25em;
  font-size: 1.5em;
  font-weight: bold;
  overflow: wrap;
}

#authorname {
  color: rgba(7, 38, 104, 0.5);
  font-weight: bold;
  padding-bottom: 0.5em;
  overflow: wrap;
}

#bookisbn {
  color: rgba(7, 38, 105, 0.5);
}

#bookdes {
  padding: 1em;
}